.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.fld-width {
  width: 20vw;
}


.flex-align {
  display: flex;
  align-items: center;
}

.flex-jc {
  display: flex;
  justify-content: center;
}

.fl-dir-col {
  flex-direction: column;
}

.fl-dir-row {
  flex-direction: column;
}

.flex-parent {
  display: flex;
}

.flex-child {
  justify-content: center;
  align-items: center;
}

.fl-wd {
  width: 100%;
}

.fl-wd-50 {
  width: 50%;
}

.fl-wd-80 {
  width: 80%;
}

.tc {
  text-align: center;
}

.mg-auto {
  margin: 0 auto;
}

.sb {
  justify-content: space-between;
}

.upload-form {
  border-right: 1px solid;
}

.sc-size {
  height: 80vh;
}

.bd-mt {
  border: 1px solid;
  padding: 10px;
  margin-top: 20px;
}
